.App {
  text-align: center;
  display: flex;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Project-Card {
  padding-top: 20%;
}

.Home-Page {
  display: flex;         /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
  height: 100vh;         /* Sets the container height to the full viewport height */
  width: 100vw;          /* Optional: Ensures container spans full viewport width */
}
